#instructions{
    font-size: 20px;
    padding-bottom: 20px;
}

.contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
}

#output {
    font-family: monospace;
    font-size: 12px;
    padding-top: 20px;
    display: inline-block;
}

.output {
    font-family: monospace;
    /*display: inline-block;*/
    padding-top: 20px;
    width: 100%;
    font-size: 15px;
}

#output-title {
    font-size: 18px;
}
